@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    direction: rtl;
    background: #fff;
}
.calendarContainer .selected button, .calendarButton,.calendarContainer .selected button:active, .calendarContainer .selected button:focus, .calendarContainer .selected button:hover :not([disabled]){
    background: #f43f5e!important;
    border-color: #f43f5e!important;
}
.today button{
    border: 3px solid #f43f5e !important ;

}


.swiper-pagination-bullet-active  {
    background: #f43f5e!important; /* Change to your desired active color */
}

.bg-gitar{
    background-image: url("../public/image/banner/gitar.jpg");
    background-size: cover;
}
